<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Vadzim Kavalkou">
    <meta name="description" content="Group Management">
    <title>Group Management</title>
    <link rel="stylesheet" th:href="@{/resources/css/main.css}" href="../../resources/css/main.css"/>
</head>

<body>

<div id="container"></div>
<script th:src="@{/resources/js/bundle.js}" src="../../resources/js/bundle.js"></script>
<script th:src="@{/resources/js/prism.js}" src="../../resources/js/prism.js"></script>

<p>Created by: Vadzim Kavalkou</p>
<p>Contact information: <a href="mailto:fragalymlg@gmail.com">
    fragalymlg@gmail.com</a>.</p>
</body>
</html>